body {
    background-color: black;
    color: white;
    font-family: Arial;
}

header {
    background: purple;
    padding: 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 50px;
}

.bike-card {
    border: 1px solid purple;
    padding: 15px;
    margin: 20px;
    background: #111;
}

button {
    background: purple;
    color: white;
    padding: 8px 15px;
}